<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post" action="/user/add">
      <button>Add a user</button>
    </form>

    <table border="1">
      <tr>
        <th>id</th>
        <th>username</th>
        <th>email</th>
      </tr>
      <% for(data of users){%>

      <tr>
        <td><%= data.id%></td>

        <td><%= data.username%></td>

        <td><%= data.email%></td>

        <td>
          <form method="GET" action="/user/<%= data.id %>/edit">
            <button>edit username</button>
          </form>
        </td>

        <td>
          <form method="GET" action="/user/<%=data.id%>/delete">
            <button>Delete</button>
          </form>
        </td>
      </tr>

      <% }%>

      <br />
    </table>
  </body>
</html>
